{
	"useTabs": true,
	"printWidth": 120,
	"endOfLine": "lf",
	"tabWidth": 2,
	"semi": false,
	"arrowParens": "avoid",
	"htmlWhitespaceSensitivity": "ignore",
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"singleQuote": true,
	"trailingComma": "all"
}
